<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sección de Comentarios</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <style>
    .comment-container {
      display: flex;
      align-items: flex-start;
    }

    .comment-info {
      margin-right: 10px;
      font-weight: bold;
    }
  </style>
</head>
<body ng-app="myApp">

  <div ng-controller="commentController">
    <h2>Comentarios</h2>

    <ul>
      <li ng-repeat="comment in comments">
        <div class="comment-container">
          <div class="comment-info">
            {{ comment.author }}<br>
            {{ comment.date | date:'medium' }}
          </div>
          <div>
            {{ comment.text }}
          </div>
        </div>
      </li>
    </ul>

    <form ng-submit="addComment()">
      <div class="mb-3">
        <label for="author">Nombre:</label>
        <input type="text" id="author" ng-model="newComment.author" placeholder="Tu nombre" required>
      </div>

      <div class="mb-3">
        <label for="text">Comentario:</label>
        <textarea id="text" ng-model="newComment.text" placeholder="Escribe tu comentario" class="form-control" rows="3" required></textarea>
      </div>

      <button type="submit">Agregar Comentario</button>
    </form>
  </div>

  <script>
    var app = angular.module('myApp', []);

    app.controller('commentController', function($scope) {
      $scope.comments = [];

      $scope.addComment = function() {
        $scope.comments.push({
          author: $scope.newComment.author,
          text: $scope.newComment.text,
          date: new Date()
        });

        // Limpiar el formulario después de agregar el comentario
        $scope.newComment = {};
      };
    });
  </script>
</body>
</html>