<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000" >
        <img src="https://cdn.discordapp.com/attachments/1164291625460174858/1164306458356224091/LOL.jpg?ex=6542bbe3&is=653046e3&hm=58624b4a159b004fa7a7541188b7853095f8ab922639c15f5f6fb381dcaf47b3&" class="d-block w-90" alt="...">
    </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="https://cdn.discordapp.com/attachments/1164291625460174858/1164306458641449042/Valorant.jpg?ex=6542bbe3&is=653046e3&hm=1761bddc06397ca4993fc5876d8f96a89ce6b74f0194fc0bf2e2c76b20a2dfb0&" class="d-block w-90" alt="...">
    </div>
      <div class="carousel-item">
        <img src="https://cdn.discordapp.com/attachments/1164291625460174858/1164306458050043904/WOW.jpg?ex=6542bbe3&is=653046e3&hm=c8ea4529d6927fda5cb274fb96c43ce7defb8c71f3f91ffcd78824c5fe6cb57f&" class="d-block w-90" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>