<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-unstyled">
        <li>
          <div class="container-fluid">
            <div class="container-body" style="margin-bottom: 15px; background-color: rgb(100,15,155); border-color: black; border-radius: 10px;">
              <h5 class="mt-0" style="margin-left: 5px;">User</h5>
              <p style="margin-left: 8px;">Este es un comentario de usuario 1.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
